matplotlib==3.8.3
matplotlib==3.7.5
networkx==2.8.8
numpy==1.26.4
pandas==1.5.3
PennyLane==0.35.1
pulser==0.17.3
pulser_core==0.17.3
pulser_simulation==0.17.3
Pyomo==6.5.0
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.13.0
tqdm==4.66.2
